*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://plus.unsplash.com/premium_photo-1681488489639-2b8ed629bffd?auto=format&fit=crop&q=80&w=1374&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
    background-size: cover;
    background-position: center;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.text {
    align-items: center;
    margin: 20px 80px;
    padding: 20px 20px;
    position: absolute;
    line-height: 23px;
    font-weight: 600;
    font-size: 1em;
    color: rgb(200, 243, 236);
    backdrop-filter: blur(14px);
}
.logo{
    left:45px;
    position:relative;
    height: 20px;
    width: 20px;
    /* overflow: hidden; */
    background: transparent;
}
.logo img{
    border: solid 0;
    border-radius: 500px;
    height: 85px;
    width: 90px;
}
.navigation a{
    left:30px;
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.navigation .buttonlogin-popup{
    width:130px ;
    height: 50px;;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    color: #fff;
}
.navigation .buttonlogin-popup:hover{
    background-color: #fff;
    color: #162916;

}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px  solid rgb(from 255 255 255 .5);
    border-radius: 20px;
    backdrop-filter: blur(14px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease ,height .2s ease;
}
.wrapper.active-popup{
    transform: scale(1);

}
.wrapper.active{
    height: 450px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .formbox-login{
    transition:transform .18s ease;
    transform:translateX(0) ;
    
}
.wrapper.active .formbox-login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .formbox-register{
    position: absolute;
    transform: translateX(400px);
}
.wrapper.active .formbox-register{
    transition: transform .4s ease;
    transform: translateX(0);
}
.wrapper .icon-close{
    position: absolute;
    top:0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162918;
    font-size:2em ;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.formbox h2{
    font-size: 2em;
    color: #162916;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162916;
    margin:30px 0 ;

}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(-50%);
    font-size: 1em;
    color: #162916;
    font-weight: 600;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px ;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162916;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162916;
    line-height: 57px;
}
.remainder-foroget {
    font-size: .8em;
    color: #162916;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remainder-foroget label input{
    accent-color: #162918;
    margin: 2px;
}
.remainder-foroget a{
    color: #162916;
    text-decoration: none;
}
.remainder-foroget a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #162916;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
}
.login-registration{
    font-size: .9em;
    color:#162916;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-registration p a{
    color: #162916;
    text-decoration: none;
    font-weight: 600;
}
.login-registration p a:hover{
    text-decoration: underline;
    color: blue;
}